/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29 Nov, 2015, 9:11:17 PM
    Author     : admin
*/

<style> 
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css' class="font">		
form
{
    left: 65%;
    top: 40%;
    margin-left: -25%;
    position: absolute;
    margin-top: -15%;
}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>login page</title>


a { text-decoration: none; }

strong {
    font-weight: bold;
}
.uppercase { text-transform: uppercase; }

/* ---------- LOGIN ---------- */
#login {
    margin: 50px auto;
    width: 300px;
}
#welcome{
    margin:50px auto;
    width:300px;
}
form fieldset button, input[type="text"], input[type="password"] {
    background-color: #e4686b; 
    border: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: white;
    font-family: Montserrat;
    font-size: 14px;
    height: 50px;
    outline: none;
    padding: 0px 10px;
    width: 280px;
    -webkit-appearance:none;
}
form fieldset button, input[type="submit"] {
    background-color: #951B1E;
    border: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: white;
    cursor: pointer;
    font-family: Montserrat;
    height: 50px;
    text-transform: uppercase;
    width: 280px;
    -webkit-appearance:none;
}


form fieldset button, input[type="button"] {
    background-color: #951B1E;
    border: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: white;
    cursor: pointer;
    font-family: Montserrat;
    height: 50px;
    text-transform: uppercase;
    width: 280px;
    -webkit-appearance:none;
}


button, input[type="button"] {
    background-color: #951B1E;
    border: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: white;
    cursor: pointer;
    font-family:Montserrat;
    height: 50px;
    text-transform: uppercase;
    width: 140px;
    -webkit-appearance:none;
}

form fieldset a {
    color: #5a5656;
    font-size: 10px;
}
fieldset
{
    background-color:white;
    border-color: black;


}
h1 {
    color: black;
    text-align: center;
    font size: 15px;
    margin-top: 1;
	font-family:Montserrat;
}
h2 {
    color: black;
    text-align: center;
    font size: 8px; 
    margin-top: -12;
    top: 30%;
	font-family: Montserrat;
}
h3{
	color: black;
    text-align: center;
    margin-top: -12;
    top: 30%;
	font-family: Montserrat;
}


body {  color: black; 
}

.tg  {border-collapse:collapse;border-spacing:0;border-color:black;}
.tg td{font-family:Montserrat;font-size:14px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;color:#f4f4f4;background-color:#ffffe5;}
.tg th{font-family:Montserrat;font-size:14px;font-weight:normal;padding:12px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;color:#f4f4f4;background-color:#951B1E;}
.tg .tg-yw4l{vertical-align:top}
.tg .tg-yw5l{vertical-align:top;color:black}

</style>/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 Dec, 2015, 1:20:49 PM
    Author     : admin
*/

